<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Novel Mania • Light Novel & WebNovel em português</title>
    <link rel="icon" href="/images/Favicon.png" />
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <div class="logo-background">
        <div class="logo"></div>
    </div>
    <nav class="menu">
        <ul>
            <li class="item1"><a href="#">Início</a></li>
            <li class="item2"><a href="#">Novel Chinesa <span class="icon"></span></a></li>
            <li class="item3"><a href="#">Novel Japonesa <span class="icon"></span></a></li>
            <li class="item4"><a href="#">Novel Coreana <span class="icon"></span></a></li>
            <li class="item5"><a href="#">Novel Brasileira <span class="icon"></span></a></li>
            <li class="item6"><a href="#">Concluidas</a></li>
            <li class="item7"><a href="#">Sobre <span class="icon"></span></a></li>
            <li class="item6"><a href="/login">Área de Membros</a></li>
            <li class="item8"><img src="/images/musica-searcher.png"></li>
        </ul>
    </nav>
    <div class="container">
        <div class="box1">
            <div class="padding">
                <div class="titulo">Lançamento – Princesinha na Floresta Feérica.</div>
                <div class="subtitulo">22/03/2019 por Fefe</div>
                <div class="imagem"></div>
                <div class="rodape">Ribombem os tambores, temos novidade!</div>
            </div>
        </div>
        <div class="box2">
            <div class="padding-2">
                <div class="saudacao">Bem-vindo!</div>
                <div class="gif"></div>
                <div class="a"></div>
                <div class="border"></div>
                <div class="discord"></div>
            </div>
            <div class="box3">
                <div class="padding-2">Facebook</div>
            </div>
        </div>

    </div>


</body>

</html>