<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Área de Membros</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/style/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/style/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Novel <span>Mania</span></span></h1>
        </div>
        <div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2>Log In</h2>
            </div>
            <form id="login" action="/login/valid" method="POST">
                <p style="color: red">{{erroLogin}}</p>
                <label for="username">Usuario</label>
                <br />
                <input type="text" id="username" name="username" required placeholder="Usuario">
                <br />
                <label for="password">Senha</label>
                <br />
                <input type="password" id="password" name="password" required placeholder="Senha">
                <br />
                <button type="submit" value="submit">Sign In</button>
                <br />
                <a href="/singin">
                    <p class="small">Não tem conta ? Cadastre-se aqui</p>
                </a>
            </form>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#username').focus(function () {
        $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function () {
        $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function () {
        $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function () {
        $('label[for="password"]').removeClass('selected');
    });
</script>

</html>